@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Seleção de Funcionários";
}

<section class="main-container">
    <div class="welcome-container">
        <h2 class="welcome-message">Selecoine o funcionário que deseja consultar:</h2>

        <div class="content">
            <table class="table" id="tabela-funcionarios">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Genero</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (FuncionarioModel funcionario in Model)
                        {
                            <tr>
                                <th scope="row">@funcionario.Id</th>
                                <td>@funcionario.Nome</td>
                                <td>@funcionario.CPF</td>
                                <td>@funcionario.NascData</td>
                                <td>@funcionario.Genero</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a role="button" class="btn btn-primary" asp-route-id="@funcionario.Id" asp-controller="Holerite" asp-action="DataReferencia">Selecionar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="5">Nenhum funcionário encontrado</td> </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>
